<ul #agendasList>
     <!-- each agenda goes here -->
    <li *ngFor="let agenda of agendas | async;">
      <button *ngIf="!agenda.active"
      md-icon-button color="accent"
      (click) = "tasksService.updateObject('agenda',
                                             agenda.$key,
                                             'active',
                                             true);">
      <md-icon>list</md-icon></button>
      <button *ngIf="agenda.active"
      md-icon-button color="accent"
      (click) = "tasksService.updateObject('agenda',
                                             agenda.$key,
                                             'active',
                                             false);">
      <md-icon>undo</md-icon></button>
      <button md-icon-button color="accent" (click)="deleteAgenda(agenda.$key);
      SnackBar.showSnackBar('Agenda deleted.');" class="trash">
      <md-icon>delete</md-icon></button>
      <input #agendaTitle type="text" value="{{agenda.title}}"
      (change) = "tasksService.updateObject('agenda',
                                             agenda.$key,
                                             'title',
                                             agendaTitle.value);
                  SnackBar.showSnackBar('Agenda updated.')"/>
<tasks-list *ngIf="agenda.active==true"
[agendaKey]='agenda.$key' [activeAgenda]='agenda.active'></tasks-list>
</li>
<ul>
<!-- fake component to use SnackBar, try to make it as Directive-->
<snack-bar #SnackBar></snack-bar>
