ul {
  list-style-type: none;
  color: #a06c2c;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  cursor: pointer;
  position: relative;
  background-color: #f4e7d7;
  margin: .5em;
  border-radius: 4px;
}

input {
  background: transparent;
  border: none;
  color: #a06c2c;
  padding: 0em;
  font-weight: bold;
  font-size: 130%;
}
.agendaStartTime {
  width:10%;
  text-align: center;
}
.agendaTitle {
  width:40%;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
}

.agenda-title {
  width: 70%;
  text-align: left;
}
