<ul #agendasList>
     <!-- each agenda goes here -->
    <li *ngFor="let agenda of agendas | async;">
      <button *ngIf="!(this.isGeneralVisible) || agenda.$key!=this.agendaKey"
      (click)="this.agendaKey=agenda.$key; this.isGeneralVisible=true"
      md-icon-button color="accent"><md-icon>list</md-icon></button>
      <button *ngIf="this.isGeneralVisible && agenda.$key===this.agendaKey"
      (click) = "this.isGeneralVisible=false; this.agendaKey=null"
      md-icon-button color="accent">
      <md-icon>undo</md-icon></button>
      <button md-icon-button color="accent" (click)="deleteAgenda(agenda.$key);
      SnackBar.showSnackBar('Agenda deleted.');" class="trash">
      <md-icon>delete</md-icon></button>
      <input #agendaTitle type="text" value="{{agenda.title}}"
      (change) = "tasksService.updateObject('agenda',
                                             agenda.$key,
                                             'title',
                                             agendaTitle.value);
                  SnackBar.showSnackBar('Agenda updated.')"/>
<tasks-list *ngIf="this.isGeneralVisible && agenda.$key===this.agendaKey"
[agendaKey]='this.agendaKey'></tasks-list>
</li>
<ul>
<!-- fake component to use SnackBar, try to make it as Directive-->
<snack-bar #SnackBar></snack-bar>
