<button id="taskAddAbove" md-icon-button color="primary"
    (click)="tasksListComponent.addNewTask(task, isFirst)"
    title="Add task above"><md-icon>add</md-icon></button>
<span class="badge">
<md-checkbox id="taskComplete" color="primary" [checked]="task.completed"
        (change)="updateObject(task.$key, 'completed', !(task.completed), 'boolean')">
        {{taskIndex+1}}</md-checkbox></span>
<span #start class="start">{{tasksListComponent.tasksStartTimes[i]}}</span>
<input #duration id="taskDuration" type="number" class="duration" size="3" min="1"
    value="{{task.duration}}"
    (change)="updateObject(task.$key, 'duration', duration.value, 'number','Task updated')"/>
<textarea md-autosize #title id="taskTitle" type="text" class="title"
        value="{{task.title}}"
        (change)="updateObject(task.$key, 'title', title.value, 'string','Task updated')"></textarea>
<button id="taskDelete" md-icon-button color="primary" class="trash"
    (click)="tasksListComponent.confirmTaskDelete(task.$key,'Task deleted')">
<md-icon>delete</md-icon></button>
<br />
<button *ngIf="!isFirst" id="taskMoveUp" md-icon-button class="reorder"
    (click)="tasksListComponent.reorderTasks(task, 'up')"><md-icon>keyboard_arrow_up</md-icon></button>
<button *ngIf="!isLast" id="taskMoveDown" md-icon-button class="reorder"
    (click)="tasksListComponent.reorderTasks(task, 'down')"><md-icon>keyboard_arrow_down</md-icon></button>
<textarea md-autosize #description id="taskDescription" type="text" class="description"
        value="{{task.description}}"
        (change)="updateObject(task.$key, 'description', description.value, 'string','Task updated')"></textarea>
