ul {
  list-style-type: none;
}
.selected {
  background-color: #CFD8DC !important;
}
.tasks li {
  cursor: pointer;
  position: relative;
  background-color: #7986CB;
  margin: .5em;
  border-radius: 4px;
}
.tasks li:hover {
  color: #607D8B;
  background-color: #1A237E;
}
.tasks .badge {
  font-size: small;
  padding: 0.8em 0.7em 0 0.7em;
  position: relative;
  left: 6px;
  border-radius: 4px 0 0 4px;
}
.trash {

}
input, textarea {
  background: transparent;
  border: none;
  text-align: center;
}
::-webkit-resizer {
  display: none; /*textarea resize handler*/
}
input:focus {
  text-decoration: underline;
}
input.break {
    word-wrap: break-word;
    word-break: break-all;
}
.start {
  color:green;
  width:50px;
}
.duration {
  color:white;
  width:30px;
}
.title {
  color:blue;
  width: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 130%;
  padding: 0 0 0.9 0em;
}
.description {
  text-align: left;
  width:80%;
  color:white;
  padding: 0 0 0 0.7em;

}
.completed {
  /*text-decoration: overline;*/
  opacity:0.7;
}
.reorder {
  float: left;
}
