<ul #generalTasksUl class="tasks">
  <!--<li>
  <span class="column-header">ID</span>
  <span class="column-header">start</span>
  <span class="column-header">duration</span>
  <span class="column-header">title</span>
  </li>-->
  <!-- each task goes here -->
  <li *ngFor="let task of tasks | async;
    let i = index;
    let isFirst = first;
    let isLast = last; trackBy: trackById"
      [ngClass]="{completed: task.completed, 'task-animation': true}">
    <task [isFirst]="isFirst" [isLast]="isLast" [taskIndex]=i [task]=task [tasksListComponent]="this"></task>
  </li>
  <button md-icon-button id="taskAddNewLast" (click)="addNewTask(this.agendaKey, null, false)">
    <md-icon>add</md-icon></button>
</ul>
<div *ngIf="selectedTask">
  <h2>ID:{{selectedTask.id}} task details!</h2>
</div>
