<ul #generalTasksUl class="tasks">
<!--<li>
<span class="column-header">ID</span>
<span class="column-header">start</span>
<span class="column-header">duration</span>
<span class="column-header">title</span>
</li>-->
    <!-- each task goes here -->
    <li *ngFor="let task of tasks | async;
    let i = index;
    let isFirst = first;
    let isLast = last; trackBy: trackById"
    [ngClass]="{completed: task.completed, 'task-animation': true}">
    <!--Add new task above BUTTON -->
    <button id="taskAddAbove" md-icon-button color="primary"
    (click)="addNewTask(this.agendaKey, task, isFirst)"
    title="Add task above"><md-icon>add</md-icon></button>
<span class="badge">
<md-checkbox id="taskComplete" color="primary" [checked]="task.completed"
(change)="updateObject(task.$key, 'completed', !(task.completed), 'boolean')">
{{i+1}}</md-checkbox></span>
<span #start class="start">{{this.tasksStartTimes[i]}}</span>
<input #duration id="taskDuration" type="number" class="duration" size="3" min="1"
  value="{{task.duration}}"
  (change)="updateObject(task.$key, 'duration', duration.value, 'number','Task updated')"/>
<textarea md-autosize #title id="taskTitle" type="text" class="title"
  value="{{task.title}}"
  (change)="updateObject(task.$key, 'title', title.value, 'string','Task updated')"></textarea>
<button id="taskDelete" md-icon-button color="primary" class="trash"
(click)="confirmTaskDelete(task.$key,'Task deleted')">
<md-icon>delete</md-icon></button>
<br />
<button *ngIf="!isFirst" id="taskMoveUp" md-icon-button class="reorder"
(click)="reorderTasks(agendaKey, task, 'up')"><md-icon>keyboard_arrow_up</md-icon></button>
<button *ngIf="!isLast" id="taskMoveDown" md-icon-button class="reorder"
(click)="reorderTasks(this.agendaKey, task, 'down')"><md-icon>keyboard_arrow_down</md-icon></button>
<textarea md-autosize #description id="taskDescription" type="text" class="description"
  value="{{task.description}}"
  (change)="updateObject(task.$key, 'description', description.value, 'string','Task updated')"></textarea>
</li>
<button md-icon-button id="taskAddNewLast" (click)="addNewTask(this.agendaKey, null, false)">
  <md-icon>add</md-icon></button>
</ul>
<div *ngIf="selectedTask">
<h2>ID:{{selectedTask.id}} task details!</h2>
</div>
