<h2 class="labels">{{title}}</h2>
<div *ngIf="!(authService.af.auth | async)">
<span>
  <md-icon>email</md-icon>
  <md-input required #uEmail
    placeholder="Email"
    type="email"
    (keyup.enter)="authService.login(uEmail.value,uPassword.value)">
  </md-input>
</span>
<br />
<span>
  <md-icon>lock</md-icon>
  <md-input required #uPassword
    placeholder="Password"
    type="password"
    (keyup.enter)="authService.login(uEmail.value,uPassword.value)">
  </md-input>
  <br />
  <button id="login" md-raised-button color="primary"
  (click)="authService.login(uEmail.value,uPassword.value)">
  Login</button>
</span>
</div>
<button *ngIf="authService.af.auth | async"
      id="home"
      md-icon-button color="primary"
      (click) = "authService.router.navigate(['/'])">
      <md-icon>home</md-icon></button>
<span *ngIf="authService.af.auth | async">Logged in as {{(authService.af.auth | async).auth.email}}
  <button id="logout" md-raised-button color="primary"
  (click)="authService.logOut()">
  Logout</button>
</span>
<router-outlet></router-outlet>  