  <ul #generalTasksUl class="tasks">
  <li>
  <span class="badge">ID</span>
  <span class="start">start</span>
  <span class="duration">duration</span>
  <span class="title">title</span>
  </li>
      <!-- each task goes here -->
      <li *ngFor="let task of tasks | async;
      let i = index;
      let isFirst = first;
      let isLast = last;"
      [ngClass]="{completed: task.completed}">
      <!--Add new task above BUTTON -->
      <button md-icon-button color="primary"
      (click)="tasksService.addNewTask(task,isFirst);
      TaskForm.showSnackBar('New task added')"
      title="Add task above"><md-icon>add</md-icon></button>
  <span class="badge">
  <md-checkbox color="primary" [checked]="task.completed"
  (change)="tasksService.updateTask(task.$key,'completed',!(task.completed))">{{i+1}}</md-checkbox></span>
 <button md-icon-button color="primary" (click)="deleteTask(task.$key);
 TaskForm.showSnackBar('Task deleted')" class="trash">
 <md-icon>delete</md-icon></button>
  <input #start type="text" class="start"
    value="{{task.start}}"
    (change)="tasksService.updateTask(task.$key,'start',start.value)"/>
  <input #duration type="text" class="duration"
    value="{{task.order}}"
    (change)="tasksService.updateTask(task.$key,'duration',duration.value)"/>
  <textarea #title type="text" class="title" rows="1" cols="1"
    value="{{task.title}}"
    (change)="tasksService.updateTask(task.$key,'title',title.value)"></textarea>
  <br />
<button *ngIf="!isFirst" md-icon-button class="reorder"
  (click)="tasksService.reorderTasks(task,'up');
  TaskForm.showSnackBar('Tasks reordered')"><md-icon>keyboard_arrow_up</md-icon></button>
<button *ngIf="!isLast" md-icon-button class="reorder"
(click)="tasksService.reorderTasks(task,'down');
TaskForm.showSnackBar('Tasks reordered')"><md-icon>keyboard_arrow_down</md-icon></button>

  <textarea #description type="text" class="description" rows="3" cols="1"
    value="{{task.description}}"
    (change)="tasksService.updateTask(task.$key,'description',description.value)"></textarea>
  </li><button md-icon-button (click)="tasksService.addNewTask(null,false);
  TaskForm.showSnackBar('New task added')"><md-icon>add</md-icon></button>
  </ul>
  <div *ngIf="selectedTask">
  <h2>ID:{{selectedTask.id}} task details!</h2>
  <div><!--<label>id: </label>{{selectedTask.id}}
  <label>Start: </label>
    <input [(ngModel)]="selectedTask.start" placeholder="start"/>
  <label>Duration: </label>
  <input [(ngModel)]="selectedTask.duration" placeholder="duration"/>
  <label>Title: </label>
    <input [(ngModel)]="selectedTask.title" placeholder="title"/>-->
  </div>
</div>
<task-form #TaskForm [tasks]=this.tasks></task-form>
