  <ul #generalTasksUl class="tasks">
  <li>
  <span class="badge">ID</span>
  <span class="start">start</span>
  <span class="duration">duration</span>
  <span class="title">title</span>
  </li>
      <!-- each task goes here -->
      <li *ngFor="let task of tasks | async;
      let i = index;
      let first = first;
      let last = last;"
      [@flyInOut]="direction"
      [ngClass]="{completed: task.completed}">
  <span class="badge">
  <md-checkbox color="primary" [checked]="task.completed"
  (change)="tasksService.updateTask(task.$key,'completed',!(task.completed))">{{i+1}}</md-checkbox></span>
 <button md-icon-button color="primary" (click)="deleteTask(task.$key)" class="trash">
 <md-icon>delete</md-icon></button>
  <input #start type="text" class="start"
    value="{{task.start}}"
    (change)="tasksService.updateTask(task.$key,'start',start.value)"/>
  <input #duration type="text" class="duration"
    value="{{task.order}}"
    (change)="tasksService.updateTask(task.$key,'duration',duration.value)"/>

  <input #title type="text" class="title"
    value="{{task.title}}" maxlength="50"
    (change)="tasksService.updateTask(task.$key,'title',title.value)"/>
<button *ngIf="!first"
  (click)="tasksService.reorderTasks(task,task.order-1)">up</button>
<button *ngIf="!last"
(click)="tasksService.reorderTasks(task,task.order)">down</button>
  <br />
  <input #description type="text" class="description"
    value="{{task.description}}" maxlength="160"
    (change)="tasksService.updateTask(task.$key,'description',description.value)"/>
        </li>
  </ul>
  <div *ngIf="selectedTask">
  <h2>ID:{{selectedTask.id}} task details!</h2>
  <div><!--<label>id: </label>{{selectedTask.id}}
  <label>Start: </label>
    <input [(ngModel)]="selectedTask.start" placeholder="start"/>
  <label>Duration: </label>
  <input [(ngModel)]="selectedTask.duration" placeholder="duration"/>
  <label>Title: </label>
    <input [(ngModel)]="selectedTask.title" placeholder="title"/>-->
  </div>
</div>
<button *ngIf="!selectedTask" md-mini-fab color="primary"
 (click)="TaskForm.showTaskForm(null)">
<md-icon class="md-24">add</md-icon></button>
<task-form #TaskForm [tasks]=this.tasks></task-form>
