<div [hidden]="!visibility"
     [@visibilityChanged]="isVisible">
<h3>Add New Task:</h3>
<input #newStart placeholder="start" value="12:00"/>
<input #newDuration placeholder="duration" value="60"/>
<input #newTitle placeholder="title" value="Title"/>
<input #newType placeholder="type" value="normal"/>
<input #newDescription placeholder="description" value="desciption"/>
<button md-raised-button color="primary" (click)="addTask(newStart.value,
                        newDuration.value,
                        newType.value,
                        newTitle.value,
                        newDescription.value)">Confirm</button>
<button md-raised-button color="primary" (click)="hideTaskForm()">Cancel</button>
</div>
