<div [hidden]="!visibility"
     [@visibilityChanged]="isVisible">
<h3>{{formCaption}}</h3>
<input #newStart placeholder="start" value={{newStartDefault}}/>
<input #newDuration placeholder="duration" value={{newDurationDefault}}/>
<input #newTitle placeholder="title" value={{newTitleDefault}}/>
<select #newType placeholder="type" value={{newTypeDefault}}>
  <option value="general">general</option>
  <option value="normal">normal</option>
</select>
<input #newDescription placeholder="description" value={{newDescriptionDefault}}/>
<button md-raised-button color="primary" (click)="addTask(newStart.value,
                        newDuration.value,
                        newType.value,
                        newTitle.value,
                        newDescription.value)">Confirm</button>
<button md-raised-button color="primary" (click)="hideTaskForm()">Cancel</button>
</div>
