<div>
      <!--<button md-icon-button color="accent" class="trash"
      (click)="confirmAgendaDelete(agenda.$key, 'Agenda deleted')">
      <md-icon>delete</md-icon></button>-->Start time:
      <input #agendaStartTime id="agendaStartTime" type="time" value="{{(agenda | async)?.startTime}}"
      (change) = "updateTime(agendaStartTime.value)"/>
      <button md-raised-button color="primary" id="agendaSetTimeToNow"
      (click) = "updateTimeToNow()">Start Now</button>
      <input #agendaTitle id="agendaTitle" class="agenda-title" type="text" value="{{(agenda | async)?.title}}"
      (change) = "updateTitle(agendaTitle.value)"/>
      <task-tree *ngIf='agenda | async' [agendaKey]='this.agendaKey'
      [activeAgenda]='true' [agendaStartTime]='(agenda | async)?.startTime'></task-tree>
</div>
